---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import { Converter } from '../components/Converter';
---

<Layout title="Welcome to Astro.">
	<main>
		<Converter client:load/>
	</main>
</Layout>


